<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit the expense</title>
</head>
<body>
    <h1>Edit an existing expense</h1>
    <form action="/user/expenses" method="post">
        <label for="amount">Amount spent </label>
        <input type="number" id="amount" value="<%= expense.amount %>"><br><br>
        <label for="description">Description </label>
        <input type="text" id="description" value="<%= locals.expense.description %>"> <br><br>
        <input type="hidden" name="_method" value="PUT">
        <input type="submit" value="Edit">
    </form>
</body>
</html>