<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>All expenses</title>
</head>
<body>
    <% if(_method === "PUT") { %>
        <h2>Your changes are "saved" to the db</h2>
    <% } %>
    <ol>
        <% data.forEach(expense => { %>
            <li> <b>Description:</b> <%= expense.description %> <br>
                <b>Amount:</b> <%= expense.amount %> <a href="/user/expense/<%=data.indexOf(expense)%>"><button>Edit</button></a><br><br> 
            </li>
        <% }) %>
    </ol>
</body>
</html>