.button {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 0 8px;
  margin-left: 5px;

  &__icon {
    margin-right: 10px;
    font-weight: bold;
    color: rgb(114, 168, 32);
  }
}

.expense {
  color: orangered;
}