<table class="table">
  <thead class="table__head">
    <tr class="table__head__row">
      <th class="table__head__row__item" *ngFor="let row of headerRows">{{row}}</th>
    </tr>
  </thead>
  <tbody class="table__body">
    <tr class="table__body__row">
      <td class="table__body__row__content">text1.1</td>
      <td>text1.2</td>
      <td>text1.3</td>
    </tr><br>
    <tr>
      <td>text2.1</td>
      <td>text2.2</td>
      <td>text2.3</td>
    </tr>
    <tr>
      <td>text3.1</td>
      <td>text3.2</td>
      <td>text3.3</td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
