.section {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-top: 2em;

  &__categories {
    display: flex;
    flex-wrap: wrap;
  }

  &__extras {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }
}