<mat-card class="account" [ngClass]="{'faded': !account.isActive }">
  <mat-card-title class="account__name">{{account.name}}</mat-card-title>
  <mat-card-subtitle class="account__balance">{{account.balance | currency: '':''}}</mat-card-subtitle>
  <!-- icon will be dynamic -->
  <mat-icon class="account__icon">attach_money</mat-icon>
  <mat-card-actions class="account__actions">
    <button mat-button class="account__actions__button" (click)="openDialog()">Details</button>
  </mat-card-actions>
</mat-card>